.results-list{
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 8px #ddd;
    border-radius: 10px;
    margin-top: 0.5rem;
    max-height: 300px;
    overflow-y: scroll;
}
.search-result{
    padding: 10px 20px;
}
.search-result:hover{
    background-color: #efefef;

}